<form class="log-in-box">
    <div align="center">
        <div class="logo">
            <h4>
                <div class="blue-color">F</div>
                <div class="red-color">u</div>
                <div class="orange-color">n</div>
                <div class="blue-color">d</div>
                <div class="green-color">o</div>
                <div class="red-color">o</div>
                <div class="blue-color"> N</div>
                <div class="red-color">o</div>
                <div class="orange-color">t</div>
                <div class="blue-color">e</div>
                <div class="green-color">s</div>
            </h4>
        </div>
        <div>
            <h3>Sign In</h3>
        </div>
        <div>
            <h5>Use your Google Account</h5>
        </div>
    </div>
    <mat-form-field class="email-input-bar">
        <input matInput placeholder="Email or phone">
    </mat-form-field>
</form>