.log-in-box {
    position: relative;
    margin-top: 3em;
    margin-left: 22em;
    width: 25em;
    height: 25em;
    border: solid;
    border-color: grey;
    border-radius: 10px;
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"),
      url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  }
  
  .email-input-bar {
    margin-top: 1em;
    margin-left: 2em;
    width: 21.25em;
  }
  
  .blue-color {
    color: blue;
    display: inline;
  }
  .red-color {
    color: red;
    display: inline;
  }
  .orange-color {
    color: orange;
    display: inline;
  }
  .green-color {
    color: green;
    display: inline;
  }
  
  .logo {
    margin-top: 2em;
  }