<div class="mainContainer">
  <div class="nav-bar">
    <mat-toolbar>
      <div class="logo-title">
        <div class="menu">
          <button type="button" mat-button drawer="drawer.open()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="title">
          <img [src]="fundooImage" />
        </div>
      </div>
      <div class="rightIcons">
        <button
          mat-icon-button
          class="icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          class="icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>share</mat-icon>
        </button>
        <button
          mat-icon-button
          class="icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>
  <div class="mainContent">
    <mat-drawer-container class="container" autosize>
      <mat-drawer class="sidenav" mode="side" opened>
        <a
          routerLink="/notes"
          class="side-nav-links side-nav-item"
          routerLinkActive="/notes"
        >
          <div class="icon">
            <mat-icon>lightbulb </mat-icon>
          </div>
          <div class="icon-label">Notes</div>
        </a>
        <a routerLink="#" class="side-nav-links side-nav-item">
          <div class="icon">
            <mat-icon>edit</mat-icon>
          </div>
          <div class="icon-label">Edit label</div>
        </a>
      </mat-drawer>
      <div class="sidenav-content">
        <div class="createNote">
          <app-create-note></app-create-note>
        </div>
        <div class="displayNotes">
          <app-display-notes></app-display-notes>
        </div>
      </div>
    </mat-drawer-container>
  </div>
</div>
