.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
}
.nav-bar {
  width: 100%;
}

.mainContent {
  width: 100%;
  height: 100%;
}

.mat-toolbar {
  display: flex;
  // flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgb(223, 220, 220);
  margin-top: 1%;
}

.logo-title {
  display: flex;
}

.searchBar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40%;
}

.mat-form-field {
  width: 100%;
  align-items: center;
  height: 2vh;
}

.mat-form-field-wrapper {
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
}

.sidenav-content {
  display: flex;
  width: 100%;
  background-color: white;
  flex-flow: column wrap;
}

.sidenav {
  padding: 20px;
  display: flex;
  width: 20%;
}

.side-nav-item {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 8vh;
  align-items: center;
  &:hover {
    background-color: rgba(231, 220, 220, 0.945);
    border-radius: 20px;
  }
}

.createNote {
  display: flex;
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-content: center;
}

.displayNotes {
  width: 100%;
  height: 50vh;
  margin-top: 10%;
  align-self: center;
}

.icon-label {
  margin-left: 20%;
  font-size: medium;
}

.example-form-field {
  width: 200px;
}
